{{ define "head_extra" }}
<style>
  @font-face {
    font-family: Bookerly;
    src: url('/fonts/bookerly-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: Bookerly;
    src: url('/fonts/bookerly-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: Bookerly;
    src: url('/fonts/bookerly-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: Bookerly;
    src: url('/fonts/bookerly-bold-italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: BookerlyDisplay;
    src: url('/fonts/bookerly-display-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: BookerlyDisplay;
    src: url('/fonts/bookerly-display-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  body {
    background-color: #fff;
    color: #111;
  }
  .site-header,
  .site-footer {
    background-color: #fff;
    color: #111;
  }
  .site-header a,
  .site-footer a {
    color: #111;
  }
  .article-body {
    /* max-width: 680px; */
    /* padding: 0 var(--site-gutter); */
    font-family: Bookerly, Georgia, 'Times New Roman', serif;
    font-size: 1.1rem;
    line-height: 1.75;
    text-align: left;
    opacity: 1;
  }
  .article-body .footnotes {
    font-size: .9rem;
  }
  .article-body strong {
    font-weight: 700;
  }
  .article-body h1,
  .article-body h2,
  .article-body h3,
  .article-body h4 {
    font-family: BookerlyDisplay, Georgia, 'Times New Roman', serif;
    text-align: left;
  }
</style>
{{ end }}

{{ define "main" }}
<div class="article-body">
  <h2>{{ .Title }}</h2>
  <p>by <strong><em>{{ .Params.author }}</em></strong>{{ if not .Date.IsZero }} - {{ .Date.Format "January 2, 2006" }} <small><em>(updated {{ .Lastmod.Format "1/2/06" }})</em></small>{{ end }}</p>
  <hr>
  {{ .Content }}
</div>
{{ end }}
